<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'my_app:index' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>MCIK<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'my_app:index' %}">Bosh Sahifa</a></li>
          <li><a href="{% url 'my_app:about' %}">Hisobot</a></li>
          <li><a href="contact.html">Aloqa</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->